@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    color: #F00;
    padding :1em;
}
#game-board{
	width:500px;
	height:500px;
}
h3{
	color: blue;
}

img{
	margin:0;
	padding:0;
	width:100px;
	height:100px;
	border: 5px solid black;
	float: left;
/*	margin:0 0 0 0;
	width:150px;
	height:150px;
	padding-right: 0;
	padding-left: 0;


	width: $(window).width()/4;
	height: $(window).height()/4;
*/

}
