@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../img/background1.jpg');
    background-size:cover;
    background-attachment: fixed;
}

button {
    color: #F00;
    padding :1em;
}
#game-board{
	width:480px;
	height:480px;
}
h3{
	color: blue;
}

#winPic{
	width:600px;
	height:600px;
	display: none;
}

img {
	margin:0;
	padding:0;
	width:120px;
	height:120px;
	border: 5px solid black;
	float: left;
}
